fastapi
sqlalchemy
psycopg2-binary
python-dotenv
uvicorn
sqlalchemy
pydantic
pydantic-settings
email-validator
passlib[bcrypt]
python-dotenv
python-jose[cryptography]
pwdlib[argon2]
alembic
python-multipart
